POSTGRES=true
POSTGRES_HOST="postgresql+asyncpg://postgres:postgres@localhost:5432/database"
REDIS=true
REDIS_HOST="redis://localhost:6379"
KAFKA=true
KAFKA_HOST="localhost:9092"
KAFKA_TOPIC_INGRESS="chat.message.ingress"
KAFKA_GROUP_ID="gadchat-workers"
MINIO=true
MINIO_HOST="http://localhost:9000"
MINIO_ACCESS_KEY_ID="root"
MINIO_SECRET_ACCESS_KEY="Root123!"
MINIO_BUCKET="gadchat"
