POSTGRES_HOST="postgresql+asyncpg://postgres:postgres@localhost:5432/database"
REDIS_HOST="redis://localhost:6379"
KAFKA_HOST="localhost:29092"
KAFKA_TOPIC_INGRESS="chat.message.ingress"
KAFKA_GROUP_ID="gadchat-workers"
MINIO_HOST="http://localhost:9000"
MINIO_ACCESS_KEY_ID="PsIxcgrOk0WaeEk3aQbx"
MINIO_SECRET_ACCESS_KEY="OMXqmEi8bhJxAtRn7zBEZHJFiTigXY6KTFfsezUV"
MINIO_BUCKET="media"
CRYPTOGRAPHY_SECRET_KEY="changeme-cryptography-secret"
JWT_ALGORITHM="HS256"
JWT_SECRET_KEY="changeme-jwt-secret"
JWT_EXPIRED_SECONDS=43200
